

$colorHeader:rgb(250,255,200);
$colorSectionFoodH:#FF5C6E;
$colorSectionFoodUL:#CC0D22;


@mixin font($size, $family,$color) {
    font-size: $size;
    font-family: $family;
    color:$color;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
    box-sizing: border-box;
}

@mixin wheels($width,$position, $border){
    position:$position; 
    width: $width;
    height:$width;
    border-radius:50%;
    border:$border
}
@mixin pseudo($top, $left, $width,$height,$background, $opacity){

    display:block;
    content: '';
    opacity:$opacity;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
    background: $background;


}


html,body,header, footer{
    @include size(100%, 100% );
    position:relative;
    outline:none;

}
.bckg{
    position:absolute;
    left:0px;
    top:0px;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover; 
};
header{
    @include size(100%,100%);
    .img{
        @include size(100%,100%);
        @extend .bckg;
        background-image: url('../img/lisc.jpg');
    }
    h1{
        @include size(100%,45%);
        @include font(86px,('Bilbo', cursive),($colorHeader));
        text-shadow:1px 1px rgb(20,50,20);
        padding: 7% 0% 3% 5.25%;
        position: relative;
        line-height: 1.5;
        letter-spacing: .05em;
        opacity:0;
        &:after{
            @include pseudo(100%, 0px, 5%,2px,($colorHeader),1);
            display:block;
            border-radius: 6px;

        }
    }
    h2{@include size(100%,20%);
       @include font(30px,('Bilbo', cursive),($colorHeader));
       opacity:0;
       padding: 5% 0% 0% 5.25%;
       position: relative;
    }
    .arrow{
        @include wheels(85px, absolute, (3px solid $colorHeader));
        left:100px;
        bottom:20%;
        cursor:pointer;
        display:block;
        opacity:0;
        &:before{
            @include pseudo(42px,36px, 34px,4px,($colorHeader),1);
            border-radius:4px;
            position:absolute;
            transform: rotate(-45deg);
        }
        &:after{
            @include pseudo(42px,14px, 34px,4px,($colorHeader),1);
            border-radius:4px;
            transform: rotate(45deg);
            position:absolute;

        }
        &:hover{transition:.55s;
                box-shadow:0px 0px 8px  white;
        }
    }
    nav{
       width:98%;
        position:absolute;
        top:16px;
        display:flex;
        justify-content:flex-end;
        a{  @include font(15px,( 'Bilbo', cursive),($colorHeader));
            text-shadow:1px 1px 4px rgb(10,50,10);
            letter-spacing:.1em;
            padding: 10px 15px;
            box-sizing:border-box;
            display:inline-block;
            text-decoration:none;
            position:relative;
            margin-right:15px;
            margin-left:10px;
            opacity:0;
            &:after{
                @include pseudo(100%, 0px, 100%,1px,($colorHeader),0);

            }
            &:hover{
                &:after{
                    -webkit-animation:anavHover .55s linear forwards;
                    animation:anavHover .55s linear forwards; 
                }
            }
        }
    }
}
section{ @include size(100%,120%);
         position:relative;
         z-index:1;
          outline:none;
         h3{
             @include size(50%,12%);
             @include font(54px,( 'Bilbo', cursive),($colorSectionFoodH));
             margin:0 auto;
             text-align:right;
             padding-top:5%;
         }
         h4{
             @include size(100%,12%);
             @include font(38px,( 'Bilbo', cursive),($colorSectionFoodH));
             padding:4% 7% 1%;
             &:after{
                 @include pseudo(160%, 0px, 3%,1px,($colorSectionFoodH),1);
                 border-radius: 6px;
             }
         }
         ul{  @include size(100%,32%);
              @include font(22px,( 'Lora', cursive),($colorSectionFoodH));
              padding:4% 8%; 
              li{
                  list-style-type:circle;
                  line-height:1.5;
              }
         }
         footer{
             @include size(100%,44%);
             position:relative; 
             .img{  
                 @include size(100%,100%);
                 @extend .bckg;
                 background-image: url('../img/food.jpg');
             }  
         }

}
#transportation{

    h4, h3, ul{
        color:#FF7208;
    }
    h4:after{
        background-color:#FF7208; 
    }
    footer{
        .img{
            background-image: url('../img/bike.jpg');
        }
    }
}
#electricity{
    background-color: #333;  
    h4, h3, ul{
        color:#FFF14E;
        background-color: #333;
    }
    h4:after{
        background-color:#FFF14E; 
    }
    footer{
        .img{
            background-image: url('../img/bulb.jpg');
        }
    }
}
#water{
    h4, h3, ul{
        color:#4D5E7F;
    }
    h4:after{
        background-color:#4D5E7F; 
    }
    footer{
        .img{
            background-image: url('../img/faucet.jpg');
        }
    }
}

footer{ 
    @include size(100%, 100%);
    z-index:0;
    .skewed{
        @include size(100%, 50%);
        transform:skewY(3deg);
        -webkit-transform: skewY(3deg);
        background-color:#fff;
        h5{
            @include size(100%, 100%);

            @include font(54px,( 'Bilbo', cursive),#09C942);
            transform:skewY(-3deg);
            -webkit-transform: skewY(-3deg);
            margin:0 auto;
            padding-top:10%;
            padding-left:8%;
            box-sizing:border-box;

        } 
    }
    .imgF{@include size(100%,(calc(50% + 300px)));
          margin-top:-300px;
          background-image:url('../img/lisc.jpg');
          background-attachment: fixed;
          background-repeat:no-repeat;
          background-size:cover;
    }


}
@keyframes header{
    0%{opacity:0;transform:translateY(100px);}
    100%{opacity:1;transform:translateY(0px);}
}
@keyframes anav{
    0%{opacity:0;transform:translateY(-100px);}
    100%{opacity:1;transform:translateY(0px);}
}
@keyframes anavHover{
    0%{opacity:0;}
    100%{opacity:1;}
}


@media only screen and (max-width: 900px) {
    
    section{
        h3{
            width:90%;
        }
    }
    #electricity{
        footer{
            .img{
                background-image: url('../img/bulb_min.jpg');
            }
        }
    }
    #transportation{
        footer{
            .img{
                background-image: url('../img/bike_min.jpg');
            }
        }
    }
    #water{
            footer{
                .img{
                    background-image: url('../img/faucet_min.jpg');
                }
            }
        }

    }
    

    @media only screen and (max-width: 600px){
         header{
        h1{
            padding-top:20%;
            font-size:66px;
        }
        h2{
           
            
            font-size:30px; 
        }
         nav{
           justify-content:space-around;
           
            
            a{
                font-size:12px;
                width:auto;
                padding:10px 5px;
                margin:5px;
            }
        }
        
    }
        section{
            h3{ font-size:44px;
                padding-top: 9%;
                height:16%
            }
            h4{
                font-size:30px;
                height:13%;
            }
            ul{
                font-size:16px;
                height:27%;
              
            }

        }
    }
        @media only screen and (max-height: 650px){
        
         header{
        h1{
           padding-top:8%;
            font-size:66px;
        }
        h2{
           margin-top:15%;
            
           font-size:25px; 
        }
        .arrow{ 
            bottom:17%;
          
            left:inherit;
            right:80px;
            
           }
           nav{
               a{
                   font-size:12px;
               }
           }
        
    }
    section{
            h3{ font-size:24px;
                padding-top: 9%;
                height:16%
            }
            h4{
                font-size:18px;
                height:13%;
                padding-top:2%;
            }
            ul{
                font-size:12px;
                height:27%;
                padding-top:2%;
              
            }

        }
        footer{
            .skewed{
              h5{
                font-size:28px;
            }  
            }
        }
        }
    @media (max-width: 450px),(max-height: 450px) {
         header{
        h1{
            height:20%;
            padding-top:calc( 145px + 5%);
            font-size:30px;
        }
        h2{
            height:15%;
            font-size:20px; 
            margin-top:80px;
        }
         nav{
           align-items: center;
          flex-direction:column;
          
            
            a{
                font-size:12px;
                padding:2px;
                margin:5px;
            }
        }
        .arrow{
            display:none;
        }
       
    }
    }
     